<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Add Data To This Page
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    
                    <form method="POST" action="{% url 'add_data' %}">
                        {% csrf_token %}
                        <div class="field has-addons">
                            
                        Humidity:<br>
                        <input type="number" name="humidity"/>
                        <br>
                     
                        Temp:<br>
                        <input type="number" name="temp"/>
                        <br>
                        Tozih:<br>
                        <input type="text" name="tozih"/>
                        <br><br>
                        <input type="submit" value="send data">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
                        

    

<footer class="footer">

</footer>
</body>

</html>