{% load static %}
<html>
<head>
  <meta  charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'data/style.css' %}">
    <!--<style>
         p,h1,h2{
           font-family: Arial;
         }
          table {
          float:left;  
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>-->
    <title>iot server</title>
    <!--<div  class="head" ><h2 style="text-align: center; font-size: 60px;">iot-server-data</h2></div>-->

</head>
<body>
  <div class="container">
		<div class="navbar">
			<ul class="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">News</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
    <div class="banner">
			<div class="app-text">
				<h2>
					IKIU INTERNET OF THING TEAM.
				</h2>

				<p>
					Suppose the result of an experiment has the property A.</br> We now ask for the probability that it also has the property B, i.e.,</br> the probability of B under the condition A. We deﬁne this conditional probabilityas.</br>
				</p>
			</div>
    </div>
  </div>

{% if add_data_sec %}
    {{ add_data_sec }}
{% endif %}
<h2>Last 3 data</h2>
{% for last in Last_data|slice:":3" %}
<table class="last-data">
  <tr>
    <th>Last Humidity</th>
    <th>Last Temp</th>
    <th>ID</th>
    <th>create</th>
    <th>update</th>
  </tr>
  <tr>
    <td>{{ last.humidity }}</td>
    <td>{{ last.temp }}</td>
    <td>{{ last.pk }}</td>
    <td>{{ last.created_at }}</td>
    <td>{{ last.updated_at }}</td>
  </tr>
</table>

{% endfor %}
<h2>All data</h2>
{% for data in all_data.all %}


<!--<div style="width: 80%;text-align: center;margin: auto;">-->
    <table class="all-data">
        <tr>
          <th>Humidity</th>
          <th>Temp</th>
          <th>ID</th>
          <th>create</th>
          <th>update</th>
        </tr>
        <tr>
          <td>{{ data.humidity }}</td>
          <td>{{ data.temp }}</td>
          <td>{{ data.pk }}</td>
          <td>{{ data.created_at }}</td>
          <td>{{ data.updated_at }}</td>
        </tr>
    </table>



<!--<h4>{{ data.pk }}</h4> 
      <p>data humidity:{{ data.humidity }}</p>
</br>

<p>data temp:{{ data.temp }}</p>
</br>

<p>data create date:{{ data.created_at }}</p>
    <br/>
    <p>data update date:{{ data.updated_at }}</p>

</br>
<hr>
</div>
-->


{% endfor %}

<!--<h1 style="margin: auto;">{{ Humidity_Avg }} avrage humidity on {{ last_pk }} information that where given.</h1>
<h1 style="margin: auto;">{{ Temp_Avg }} avrage Temp on {{ last_pk }} information that where given.</h1>-->

<table class="avrage-data">
  <tr>
    <th>avrage Humidity</th>
    <th>avrage Temp</th>
    <th>Total info</th>
  </tr>
  <tr>
    <td>{{ Humidity_Avg }}</td>
    <td>{{ Temp_Avg }}</td>
    <td>{{ last_pk }}</td>
  </tr>
</table>
</body>
</html>